name: Create pull request release
on:
  push:
    branches:
    - 'releases/**'
jobs:
  build_test_and_generate_desc:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        android_api: [28, 29]
        android_ndk: ["--android_ndk", ""]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build and test image
        run: ./ci_cd.sh --build --test --android_api ${{ matrix.android_api }} ${{ matrix.android_ndk }}
        # For debug purpose, keep while not stable
        # run: echo "Building and testing image..."

      - name: Generate image description
        run: ./ci_cd.sh --desc --android_api ${{ matrix.android_api }} ${{ matrix.android_ndk }}
        # For debug purpose, keep while not stable
        # run: |
        #  touch desc.txt
        #  echo ${{ matrix.android_api }} ${{ matrix.android_ndk }} > desc.txt

      - name: Set image name
        id: set_image_name
        run: |
          image_name=$(./ci_cd.sh --image-name --android_api ${{ matrix.android_api }} ${{ matrix.android_ndk }})
          echo "::set-output name=image_name::$image_name"

      - name: Rename desc file
        run: mv desc.txt ${{ steps.set_image_name.outputs.image_name }}.txt

      - name: Upload image description
        uses: actions/upload-artifact@v2-preview
        with:
          path: ${{ steps.set_image_name.outputs.image_name }}.txt
          name: images_description

  create_pr:
    runs-on: ubuntu-18.04
    needs: build_test_and_generate_desc
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch images descriptions
        uses: actions/download-artifact@v2-preview
        with:
          name: images_description
          path: images_description

      - name: Generate changelog file
        uses: charmixer/auto-changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN}}

      - name: Commit and push image descriptions
        uses: stefanzweifel/git-auto-commit-action@v4.1.4
        with:
          commit_message: Update images description and changelog

      - name: Set release name
        id: set_release_name
        env:
          GIT_REF: ${{ github.ref }}
        run: echo "::set-output name=release_name::${GIT_REF#refs/heads/releases/}"

      - name: Create pull request
        uses: vsoch/pull-request-action@1.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_BRANCH: "master"
          PULL_REQUEST_TITLE: "Release ${{ steps.set_release_name.outputs.release_name }}"
